[submodule "bundle/dart"]
	path = bundle/dart
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
